.App {
  padding: 10px;
  min-height: 100vh;
}

.gallery {
  display: grid;
  grid-gap: 10px;
}

.img {
  display: block;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 550px) {
  .gallery {
    grid-template-columns: repeat(2, 50%)
  }
}

@media screen and (min-width: 992px) {
  .gallery {
    grid-template-columns: repeat(3, 33%)
  }
}